<extend name="./Application/Admin/View/Layout/application.html"/>

<block name="content">

    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户组列表</strong> / <small>Group List</small></div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="{{:U('Admin/Auth/group_add')}}" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field">
                    <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox"></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">TITLE</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="lists" id="list">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$list.id}}</td>
                                <td><a href="#">{{$list.title}}</a></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="{{:U('Auth/group_edit', ['id' => $list['id']])}}"><span class="am-icon-pencil-square-o"></span> 编辑</a>

                                            <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="{{:U('Auth/group_delete', ['id' => $list['id']])}}"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    <div class="am-cf">
                        共 15 条记录
                        <div class="am-fr">
                            <ul class="am-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</block>