<extend name="./Application/Admin/View/Layout/application.html"/>

<block name="content">
    <!-- content start -->

    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">注册用户</strong> / <small>Register</small></div>
        </div>

        <hr>

        <div class="am-g">
            <div id="alert-danger" class="am-alert am-alert-danger" data-am-alert style="display: none;">
            </div>
            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-12">
                <form id="form-register" class="am-form am-form-horizontal" action="" method="post">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">姓名</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-name" placeholder="Name" name="name" minlength="4" required>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">邮箱</label>
                        <div class="am-u-sm-9">
                            <input type="email" id="user-email" placeholder="Email" name="email" minlength="3" required email="true">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">电话</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-phone" placeholder="Phone" name="phone" required digits="true" minlength="11" maxlength="11">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-QQ" class="am-u-sm-3 am-form-label">密码</label>
                        <div class="am-u-sm-9">
                            <input type="password" id="user-QQ" placeholder="Password" name="password" required  rangelength="[5,10]">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">确认密码</label>
                        <div class="am-u-sm-9">
                            <input type="password" id="user-weibo" placeholder="Confirm Password" name="confirm_pwd" required equalTo="#user-QQ">
                        </div>
                    </div>


                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">提交保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- content end -->
</block>

<block name="js">
    <script src="__PUBLIC__/assets/vendor/validation/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/assets/vendor/validation/localization/messages_zh.js"></script>
    <script>
        $().ready(function() {
            $("#form-register").validate({
                onfocusout: function (element) {
                  $(element).valid();
                },

                submitHandler: function(form){
//                    console.log($(form).serializeArray());
                    $.post('{{:U(register)}}', $(form).serializeArray(), function (data) {

                        if (data.status == 0) {
                            $("#alert-danger").text(data.info).fadeIn(200);
                            return false;
                        }

//                        location.href = "{{:U('Admin/Index/index')}}"
                    })
                }
            });
        });
    </script>
</block>
